# OS X
.DS_Store

# Node
node_modules
npm-debug.log*
yarn-error.log

# Build
.gulp
.idea
.logs
dist
tsconfig.json
__snapshots__
/package-lock.json
/static/images/2k/
/static/images/full/
/static/images/half/
/static/images/hd/
/static/images/plus/
/static/images/wide/
/static/images/xga/
