@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/print';
@import 'variables/index';

* {
  box-sizing: border-box;
}

body {
  background: $background-color;
  color: $text-white;
  font-style: italic;
}

svg {
  display: none;
}